.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat;
    position: relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-weight: 500;
    color: white;
    font-size: max(4.5vw,22px);
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size:max(1vw,13px);
    border-radius: 50px;

}
@media (max-width: 1050px) {
    .header {
        height: 38vw;
        background-size: cover;
    }

    .header-contents {
        max-width: 45%;
        left: 4vw;
        gap: 2vw;
    }

    .header-contents h2 {
        font-size: max(5vw, 18px);
    }

    .header-contents p {
        font-size: 1.5vw;
    }

    .header-contents button {
        padding: 1.5vw 3vw;
        font-size: max(1.5vw, 12px);
    }
}

@media (max-width: 768px) {
    .header {
        height: 50vw;
        background-size: cover;
    }

    .header-contents {
        max-width: 70%;
        left: 4vw;
        gap: 2vw;
    }

    .header-contents h2 {
        font-size: max(5vw, 18px);
    }

    .header-contents p {
        font-size: 1.5vw;
    }

    .header-contents button {
        padding: 1.5vw 3vw;
        font-size: max(1.5vw, 12px);
    }
}

/* Media Query for mobile devices */
@media (max-width: 480px) {
    .header {
        height: 60vw;
        background-size: cover;
    }

    .header-contents {
        max-width: 90%;
        left: 2vw;
        bottom: 8%;
        gap: 3vw;
    }

    .header-contents h2 {
        font-size: max(7vw, 16px);
    }

    .header-contents p {
        font-size: 2vw;
    }

    .header-contents button {
        padding: 2vw 4vw;
        font-size: max(2vw, 11px);
    }
}